html, body {
  height: 100%;
}

body {
	text-align: center;
	margin: 0;
}

h1 {
    font-family: 'Permanent Marker';
    font-size: 60px;
    margin: 0.2em;
}

h2 {
    font-family: 'Permanent Marker';
}

p, button {
    font-family: 'Roboto';
}

table,
tr,
td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

tr {
    height: 20px;
}

td {
    width: 20px;
}

input[type=number] {
    width: 6em;
}

.border {
    border: 5px solid teal;
    border-radius: 25px;
	padding: 0px 5px 10px 5px;
	margin: 10px;
}

.footer-distributed{
	background-color: #292c2f;
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	padding: 45px 50px;
	margin-top: 80px;
}

.footer-distributed .footer-left p{
	color:  #8f9296;
	font-size: 14px;
	margin: 0;
}

/* Footer links */

.footer-distributed .footer-right{
	float: right;
	margin-top: 6px;
	max-width: 180px;
}

.footer-distributed .footer-right a{
	display: inline-block;
	width: 35px;
	height: 35px;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
	margin-left: 3px;
}

/* CSS Grid */
.container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 100px 20px auto auto auto auto;
    grid-gap: 5px;
    grid-template-areas: 
    "head head"
    "  .  cont"
    "size cont"
    "colo cont"
    "  .  cont"
    "foot foot";
}

.header {
    grid-area: head;

}

.sizeSelector {
    grid-area: size;
    
}

.colorSelector {
    grid-area: colo;
}

.content {
    grid-area: cont;
}

.footer-distributed {
    grid-area: foot;
}


/* Responsive Design for mobile */
@media only screen and (max-width: 800px)  {

	/* Header */
	h1 {
		font-size: 50px;
	}

	/* Footer */
	.footer-distributed .footer-left,
	.footer-distributed .footer-right{
		text-align: center;
	}

	.footer-distributed .footer-right{
		float: none;
		margin: 0 auto 20px;
	}

	.footer-distributed .footer-left p.footer-links{
		line-height: 1.8;
	}

	/* Grid */
	.container {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: auto auto auto auto auto;
		grid-gap: 5px;
		grid-template-areas: 
		"head"
		"size"
		"colo"
		"cont"
		"foot";
	}
}